.RoundCornersThree {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
 }
 
.StartHidden {
	display: none;
}
 
.StartVisible {
	display: block;
}
 
body {
    background-color: #0d0d0d;
    font-family: 'Droid Sans', arial, serif;
    font-size: 0.875em;
    color: #999;
    font-weight: 400;
    line-height: 1em;
	margin: 10px;
}

body, h1, h2, h3, h4, h5, h6, p, a {
    color: #ccc;
    font-weight: normal;
}

li {
	margin: 1px;
	padding: 1px;
}

#LeftNav {
	width: 150px;
	margin-right: 20px;
	height: 100%;
	float: left;
}

#LeftNav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#LeftNav ul li{
	border-bottom: 1px solid #262626;
	line-height: 1.5em;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}


#LeftNav ul li a {
	padding: 5px 0px 5px 3px;
	display: block;
	color: #999;
	list-style-type: none;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.1s; /*Safari & Chrome*/
	transition: all 0.1s;
	-moz-transition: all 0.1s; /* Firefox 4 */
	-o-transition: all 0.1s; /* Opera */
}

#LeftNav ul li a:hover,
#LeftNav ul li.activated a {
	color: #fff;
    text-shadow: 0px 0px 10px #fff;
}

#MainContainer {
	height: 100%;
	width: 100%;
	margin-right: 20px;
	word-wrap: break-word;
	float:left;
}

#MainContainer table {
	width: 100%;
}

#TopMenu a:hover,
#TopMenu activated a{
	color: #fff;
    text-shadow: 0px 0px 10px #fff;
}

.button {
    color: #0;
    font-size: 0.875em;
    float: left;
    margin-right: 20px;
    padding: 2px 6px;
    display: block;
    background-color: #888;
    text-decoration: none;
}

.button:hover {
    background-color: #ccc;
}

.button:active {
    background-color: #ccc;
}   

table, th, td {    
    border-collapse: collapse;
    border: none;
    margin: 2px 0px;
}

th {
    background: none repeat scroll 0 0 #333;
    color: #e5e5e5;
    padding: 0px 2px 0px 2px;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 2.6em;
    text-transform: capitalize;
    border-right: 1px solid #0d0d0d;    
}

th:first-child {
    -moz-border-radius: 3px 0 0 0;
    -webkit-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    border-right: 1px solid #0d0d0d;
}

th:last-child {
    -moz-border-radius: 0 3px 0 0;
    -webkit-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
    border-right: none;
}

th:only-child {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}

td {
    border-top: none;
    border-bottom: 1px solid #333333;
    padding: 2px 2px 2px 2px;
}

.miner-info table {
    table-layout: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
}

.miner-info th:only-child {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    line-height: 1.2em;
    font-weight: 400;
    padding: 3px;
    margin: 0px;
}

.miner-info th {
    border: none;    
    padding: 0px;
    margin: 0px;
}

.miner-info td,
.miner-info tr {
    border: none;    
    padding: 0px;
    margin: 0px;
}

.device-info td,
.device-info tr {
    border-left: none;	
    border-right: none;
	border-top: none;
    border-bottom: 1px solid #333333;
    padding: 3px 3px 3px 3px;
}

.pool-info table {
    width: 100%;
    border-left: none;	
    border-right: none;
    border-top: none;
    border-bottom: none;
    border: none;
}

.pool-info {
    border-bottom: 1px solid #333333;
    padding: 3px 3px 3px 3px;
    margin: 0px;
}

.donations {
	color: #777;
    font-family: 'Droid Sans', arial, serif;
    font-size: 0.70em;
    margin: 2px;
}

.btn-register  {
    color: #111;
    background-color: #aaa;
    text-decoration: none;
    margin: 2px;
    padding: 2px;
}

.btn-register:hover {
    color: #111;
	background-color: #ccc;
    text-decoration: none;
	margin: 2px;
	padding: 2px;
}

.btn-register:active {
    color: #111;
	background-color: #ccc;
    text-decoration: none;
	margin: 2px;
	padding: 2px;
}

.txt-about {
    font-family: 'Droid Sans', arial, serif;
    font-size: 1em;
	padding: 5px;
}

.pool-info-accepted {
}

.pool-info-rejected {
	text-shadow: 0px 0px 5px #ff0000;
}

.pool-info-offline {
	font-size: 0.90em;
	text-shadow: 0px 0px 5px #ff0000;
}

.dev-info-alive {
	padding: 0px 2px;
	margin: 1px;
	font-size: 0.875em;
	border: none;	
}

.dev-info-error {
	padding: 0px 3px;
	margin: 3px;
	border: none;	
	text-shadow: 0px 0px 5px #ff0000;
}